<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>お問い合わせ詳細</title>
</head>
<body>
<h1>お問い合わせ詳細</h1>
<table border="1">
	<tr>
		<td>ID</td>
		<td th:text="${contact.id}">ID</td>
	</tr>
	<tr>
		<td>姓</td>
		<td th:text="${contact.lastName}">姓</td>
	</tr>
	<tr>
		<td>名</td>
		<td th:text="${contact.firstName}">名</td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td th:text="${contact.email}">メールアドレス</td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td th:text="${contact.phone}">電話番号</td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td th:text="${contact.zipCode}">郵便番号</td>
	</tr>
	<tr>
		<td>住所</td>
		<td th:text="${contact.address}">住所</td>
	</tr>
	<tr>
		<td>建物名</td>
		<td th:text="${contact.buildingName}">建物名</td>
	</tr>
	<tr>
		<td>お問い合わせ種別</td>
		<td th:text="${contact.contactType}">お問い合わせ種別</td>
	</tr>
	<tr>
		<td>内容</td>
		<td th:text="${contact.body}">内容</td>
	</tr>
	<tr>
		<td>作成日時</td>
		<td th:text="${contact.createdAt}">作成日時</td>
	</tr>
	<tr>
		<td>更新日時</td>
		<td th:text="${contact.updatedAt}">更新日時</td>
	</tr>
</table>
<a th:href="@{/admin/contacts/{id}/edit(id=${contact.id})}">編集</a>
<form th:action="@{/admin/contacts/{id}/delete(id=${contact.id})}" method="post">
	<button type="submit">削除</button>
</form>
<a href="/logout">ログアウト</a>
</body>
</html>
